{% extends "productos/base.html" %}
{% load static %}
{% block correo %} 
	{% if request.user.is_authenticated %}
		<p>
			<a href="#">{{ email }}</a>
		</p> 
		<h8><a href="{% url 'cerrar' %}">Cerrar sesion</a></h8>
	{% endif %}
{% endblock %}
{% block Cuerpo %}
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({% static 'productos/images/heading-pages-02.jpg' %});">
		<h2 class="l-text2 t-center">
			Herramientas para todo!.
		</h2>
	</section>
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>

						{% if categoria == "All" %}
							<ul class="p-b-54">
								<li class="p-t-4">
									<a href="#" class="s-text13 active1">
										Todo
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Cerrajería' %}" class="s-text13">
										Cerrajeria
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Cintas' %}" class="s-text13">
										Cintas
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Fijaciones' %}" class="s-text13">
										Fijaciones
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Herrajes' %}" class="s-text13">
										Herrajes
									</a>
								</li>
								<li class="p-t-4">
									<a href="{% url 'category' 'RopadeSeguridad' %}" class="s-text13">
										Ropa de Seguridad
									</a>
								</li>
								<li class="p-t-4">
									<a href="{% url 'category' 'Senalizacion' %}" class="s-text13">
										Senalizacion
									</a>
								</li>
							</ul>
						{% else %}
							<ul class="p-b-54">
								<li class="p-t-4">
									<a href="{% url 'general' %}" class="s-text13 active1">
										Todo
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Cerrajería' %}" class="s-text13">
										Cerrajeria
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Cintas' %}" class="s-text13">
										Cintas
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Fijaciones' %}" class="s-text13">
										Fijaciones
									</a>
								</li>

								<li class="p-t-4">
									<a href="{% url 'category' 'Herrajes' %}" class="s-text13">
										Herrajes
									</a>
								</li>
								<li class="p-t-4">
									<a href="{% url 'category' 'Ropadeseguridad' %}" class="s-text13">
										Ropa de Seguridad
									</a>
								</li>
								<li class="p-t-4">
									<a href="{% url 'category' 'Senalizacion' %}" class="s-text13">
										Senalizacion
									</a>
								</li>
							</ul>
						{% endif %}

						<!--  -->
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!-- Product -->
					<div class="row">
					{% for producto in productos %}
						
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
									<img src="{{ producto.image.url }}" alt="{{ producto.image.url }}">

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<a href="{% url 'addcart'  producto.id  %}">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													Agregar Carrito
												</button>
											</a>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
										{{ producto.description }}
									</a>

									<span class="block2-price m-text6 p-r-5">
										${{ producto.price }}
									</span>
								</div>
							</div>
						</div>						
					{% endfor %}
				</div>
				<div class="pagination">
	    			<span class="step-links">
	        			{% if productos.has_previous %}
	            			<a href="?page=1">&laquo; first</a>
	            			<a href="?page={{ productos.previous_page_number }}">previous</a>
	        			{% endif %}

	       				<span class="current">
	            		Page {{ productos.number }} of {{ productos.paginator.num_pages }}.
	       			 	</span>

				        {% if productos.has_next %}
				            <a href="?page={{ productos.next_page_number }}">next</a>
				            <a href="?page={{ productos.paginator.num_pages }}">last &raquo;</a>
				        {% endif %}
	    			</span>
				</div>
			</div>
		</div>
	</section>
{% endblock %}